<form method='post'>
  <h2>Endswitch</h2>
  <h3>Verify existence manually!</h3>
  <label for='pass'>Enter Password: </label>
  <input type='password' id='pass' name='pass' /><br />
  <input type='hidden' name='_csrf' value='{{csrfToken}}' />
  <input type='submit' value='Submit' />
</form>